
# This is a sample of the config file that will be in the server repo, so it's important it is not in the base image
Config
bin
dist

.dockerignore
.gitignore
.goreleaser.yaml

Dockerfile
LICENSE
README.md